<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
            <h2 ion-text class="title-app text-primary">
                <strong>Challenge</strong>
            </h2>
        </div>

        <!-- Login form -->
        <form class="list-form">
            <ion-item>
                <ion-label floating>
                    <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                    E-mail
                </ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    Password
                </ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
        </form>

        <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Esqueceu sua senha?</strong></p>

        <div>
            <button ion-button icon-start block color="dark" tappable (click)="login()">
                <ion-icon name="log-in"></ion-icon>
                ENTRAR
            </button>

            <!-- <p text-center ion-text color="secondary">Ou entre com::</p>

            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
                    </ion-col>

                </ion-row>
            </ion-grid> -->

        </div>

    </div>
</ion-content>