<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Alunos cadastrados</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            (Arraste pra esquerda pra excluir)
            <button item-end ion-button icon-only clear (click)="addAluno()">
                <ion-icon color="primary" name="add-circle"></ion-icon>
            </button>
        </ion-list-header>
        <ion-item-sliding *ngFor="let aluno of alunos; let i = index; ">
            <ion-item (click)="editarAluno(aluno.id)">
                {{aluno.nome}}
            </ion-item>
            <ion-item-options icon-start (ionSwipe)="showConfirm(aluno)">
                <button color="danger" ion-button expandable (click)="showConfirm(aluno)">
                    <ion-icon name="trash" (click)="showConfirm(aluno)"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>