page-dados-aluno {
    .username {
        font-size: 1.5em;
    }
    .label {
        color: #7f7f7f;
    }
    .separador {
        color: #000;
        font-size: 1.6em;
        font-weight: bold;
    }
    .icons-acao {
        font-size: 4rem;
    }
}