<ion-header>
    <ion-navbar primary>
        <ion-title>Detalhes do aluno</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header class="separador">
            Dados gerais
        </ion-list-header>
        <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input [(ngModel)]="model.nome_aluno" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Data de nascimento</ion-label>
            <ion-datetime [(ngModel)]="model.nascimento" displayFormat="dd/MM/yyyy"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Série</ion-label>
            <ion-select [(ngModel)]="model.serie">
                <ion-option *ngFor="let serieItem of series" [value]="serieItem">{{serieItem}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-list-header class="separador">
            Endereço
        </ion-list-header>
        <ion-item>
            <ion-label>CEP</ion-label>
            <ion-input [(ngModel)]="model.cep" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Rua</ion-label>
            <ion-input [(ngModel)]="model.rua" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Número</ion-label>
            <ion-input [(ngModel)]="model.numero" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Complemento</ion-label>
            <ion-input [(ngModel)]="model.complem" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Bairro</ion-label>
            <ion-input [(ngModel)]="model.bairro" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-input [(ngModel)]="model.cidade" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-input [(ngModel)]="model.estado" type="text" value=""></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header class="separador">
            Dados da mãe
        </ion-list-header>
        <ion-item>
            <ion-label>Nome da mãe</ion-label>
            <ion-input [(ngModel)]="model.nome_mae" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>CPF</ion-label>
            <ion-input [(ngModel)]="model.cpf_mae" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Data para pagamento</ion-label>
            <ion-datetime [(ngModel)]="model.data_pagamento" displayFormat="dd/MM/yyyy"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-list>

        <ion-item>
            <button ion-button block (click)="salvar()">Salvar</button>

        </ion-item>
    </ion-list>
</ion-content>